body {
  margin: 0;
  font-family: 'Prosto One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {

  align-items: center;
  text-align: center;

}

.memeimg {

  height: 500px;
  max-width: 100%;
  width: 500px;
  position: absolute;



}

.header {
  color: white;
  display: flex;


  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);


}

.projectname {
  margin-left: 950px;
  color: white;
  font-size: 0.89rem;
  font-weight: 500;
}

.firstline {
  display: flex;
  align-items: center;
  text-align: center;


}

.trollface {
  height: 55px;
  width: 40px;
  margin-right: 20px;
  margin-left: 40px;
}

.form--input {
  border-radius: 5px;
  padding: 10px;
  font-family: "Prosto One";
}



.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin: 40px;

}

.form--button {
  grid-column: 1 / -1;
  font-family: "Prosto One", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;

}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.meme {
  position: relative;
}